@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: rgb(34, 36, 42);
}
h2 {
  font-size: 20px
}
h3 {
  font-size: 16px
}
h4 {
  font-size: 14px
}

.ant-modal-content {
  background: #141619 !important;
}
.ant-modal-title {
  background: #141619 !important;
  color: white !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}
